{% extends "base_public.html" %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 col-lg-5">
        <div class="glass-container text-center">
            <h3 class="mb-4">Password Berhasil Diubah!</h3>
            <p class="text-white-50">Password Anda telah berhasil diatur ulang. Anda sekarang bisa login dengan password baru Anda.</p>
            <a href="{% url 'login' %}" class="btn btn-primary mt-3">Login Sekarang</a>
        </div>
    </div>
</div>
{% endblock %}